<div id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("logo.svg", class: "img-responsive") %>
        <p style="font-size: 24px;">Paga lo que quieras, cuando quieras</p>
      </div>
    </div>
  </div>
</div>

<div id="" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag("circular.svg", class: "img-responsive center-block") %>
        <br>
        <h4 class="text-center">Planea</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <br>
      </div>
      <div class="col-sm-4">
        <%= image_tag("paper-plane.svg", class: "img-responsive center-block") %>
        <br>
        <h4 class="text-center">Transfiere</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <br>
      </div>
      <div class="col-sm-4">
        <%= image_tag("checked.svg", class: "img-responsive center-block") %>
        <br>
        <h4 class="text-center">Paga</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <br>
      </div>
    </div>
  </div>
</div>
