<div id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Yupi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem officia suscipit maiores, non ullam, nobis, nesciunt, hic sed inventore aut nostrum consectetur! Eligendi cupiditate eos veniam libero repellendus molestiae? Iste?</p>
      </div>
    </div>
  </div>
</div>
