// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard-header {
  background-image: linear-gradient(-178deg, #7952F9 1%, #5FD7B0 100%, #FDDD7F 100%);
  color: #FFF;
  padding-top: 100px;
  padding-bottom: 100px;
}

#dashboard-container {
  padding-left: 0;
  padding-right: 0;
}

.btn.btn-rnd {
  background-color: #FFF;
  color: #333C4E;
  border: 1px solid #FFF;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 14.5px;

  &:hover {
    background-color: #5fd7b0;
    border-color: #5fd7b0;
    text-decoration: none;
  }
}

.btn.btn-rnd:nth-child(2) {
  margin-left: 15px;
}

#resume-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

#pay-header {
  height: 100vh;
  background-image: linear-gradient(-178deg, #7952F9 1%, #5FD7B0 100%, #FDDD7F 100%);
  color: #FFF;
  padding-top: 100px;
  padding-bottom: 100px;
}
